{% extends "base.html"%}
{% block title %}
    租車系統-查看訂單
{% endblock title %}
{% block h2title %}
    訂單資訊
{% endblock h2title %}

{% block mainBody %}
   {% load static%}
    <br>
        <div class="mb-1 row">
            <label for="Text1" class="col-sm-3 col-form-label text-end">交易編號：</label>
            <label for="Text1" class="col-sm-3 col-form-label col-3">{{Code}}</label>
        </div>
        <div class="mb-1 row">
            <label for="Text1" class="col-sm-3 col-form-label text-end">下車時間：</label>
                <label for="Text1" class="col-sm-3 col-form-label col-3">{{activeT}}</label>
        </div>
        <div class="mb-1 row">
            <label for="Text1" class="col-sm-3 col-form-label text-end">站點資訊：</label>
            <label for="Text1" class="col-sm-3 col-form-label col-3">{{Place}}</label>
        </div>
        <div class="mb-1 row">
            <label for="Text1" class="col-sm-3 col-form-label text-end">車輛資訊：</label>
            <label for="Text1" class="col-sm-3 col-form-label col-3">{{CarN}}</label>
        </div>
        <div class="mb-1 row">
            <label for="Text1" class="col-sm-3 col-form-label text-end">車輛狀態：</label>
            <label for="Text1" class="col-sm-3 col-form-label col-3" id="CarS">{{state}}</label>
        </div>
   <br><br>
   <center>
   <form method="POST">
       {% csrf_token %}
       {% comment %} 底下按鈕需要重設 {% endcomment %}
       <input type="button" value="解鎖" id="btn_active" onclick="Activate()" >
       <input type="submit" value="刪除訂單" onclick="Delete()" >
       <input type="button" value="回上一頁" onclick="location.href='/rent'">
   </form>
   </center>
<br><br><br><br>


<script>

     date = new Date();
     year = date.getFullYear();
     month = date.getMonth() + 1;
     day = date.getDate();
     h = date.getHours();
     m = date.getMinutes();

     function Activate(){
         document.getElementById("CarS").textContent = "開始啟用";
         showtxt.innerHTML = year + " / "+ month + " / " + day + " - " + h + ":" + m ;
     }
     function Delete(){
         alert =('您已取消確認');
     }
</script>
{% endblock mainBody %}
