{% extends "base.html"%}
{% block mainBody %}
<body bgcolor="#FFFFB9" link="black"vlink="black" alink="red">
   {% load static%}
   <h1 align="center">{{name}}</h1>
   <br>
   <!內容>
   <table width="60%" align="center" bgcolor="#A6FFFF" border="1" cellspacing="0">
       <tr><td colspan="5" align="center"><font size+2><b>目前您的訂單資訊</b></font></td></tr>
       <tr><td width="30%" align="center">1.訂單編號</td><td align="center">{{Code}}</td></tr>
       <tr><td width="30%" align="center">2.下單時間</td><td align="center">{{activeT}}</td></tr>
       <tr><td width="30%" align="center">3.站點資訊</td><td align="center">{{Place}}</td></tr>
       <tr><td width="30%" align="center">4.車輛資訊</td><td align="center">{{CarN}}</td></tr>
       <tr><td width="30%" align="center">5.車輛狀態</td><td align="center" id="CarS">{{state}}</td></tr>
   </table>
   <br><br>
   <center> 
       {% comment %} 底下按鈕需要重設 {% endcomment %}
   <input type="button" value="解鎖" id="btn_active" onclick="Activate()" >
   <input type="button" value="刪除訂單" onclick="Delete()" >
   <input type="button" value="回上一頁" onclick="location.href='/rent'">
   </center>
<br><br><br><br>


<script>

     date = new Date();
     year = date.getFullYear();
     month = date.getMonth() + 1;
     day = date.getDate();
     h = date.getHours();
     m = date.getMinutes();

     function Activate(){
         document.getElementById("CarS").textContent = "開始啟用";
         document.getElementById("currentT").innerHTML = year + " / "+ month + " / " + day + " - " + h + ":" + m ;
     }
     function Delete(){
         window.confirm('確認取消訂單?');
         if (confirm('確認取消訂單?') == true) {
            document.getElementById("Code").textContent = "無";
            document.getElementById("activeT").textContent = "無";
            document.getElementById("Place").textContent = "無";
            document.getElementById("CarN").textContent = "無";
            document.getElementById("CarS").textContent = "無";
            showtxt.innerHTML = '取消成功，感謝使用';
         } else {
            showtxt.innerHTML = '您已取消確認';
         }
     }
</script>
{% endblock mainBody %}
