{% extends "base.html" %}
<style>
    .title-center {
        text-align: center;
    }
    input.Radius{
      width: 350px;
      height: 40px;
      border-radius:5px;
      border-style:solid;
      padding-top:10px;
      padding-bottom:10px;
      padding-left:10px;

      -webkit-box-shadow: 0 0px 0.75px rgba(0,0,0,.075);
      box-shadow: 0 0px 0px rgba(0,0,0,.075);
      -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
      -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
      transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s
    }
    input.Radius:focus{
            border-color: #66afe9;
            outline: 0;
            -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
            box-shadow: 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)
    }


</style>
<!box-shadow : x 軸 | y 軸| 模糊半徑 | 擴散距離 | 顏色 | (inset)>

<center>
    <div class="col">
        <li class="list-item m-4">帳號:  &nbsp&nbsp&nbsp&nbsp<input name="account" type="text" class="Radius" value={{account}}></li>
        <li class="list-item m-4">密碼:  &nbsp&nbsp&nbsp&nbsp<input name="password" type="text" class="Radius" value={{password}}></li>
        <li class="list-item m-4">姓名:  &nbsp&nbsp&nbsp&nbsp<input name="name" type="text" class="Radius" value={{name}}></li>
        <li class="list-item m-4">性別:  &nbsp&nbsp&nbsp&nbsp<input name="gender" type="text" class="Radius" value={{gender}}></li>
        <li class="list-item m-4">年齡:  &nbsp&nbsp&nbsp&nbsp<input name="age" type="text" class="Radius" value={{age}}></li>
        <li class="list-item m-4">住址:  &nbsp&nbsp&nbsp&nbsp<input name="address" type="text" class="Radius" value={{address}}></li>
        <li class="list-item m-4">電話:  &nbsp&nbsp&nbsp&nbsp<input name="tel_number" type="text" class="Radius" value={{tel_number}}></li>
    </div>

    <div class="position-absolute start-50 mt-5 translate-middle">
      <button type="button" class="btn btn-secondary btn-word me-5"> 確認</button>
      <button type="button" class="btn btn-secondary btn-word me-5"> 取消</button>
    </div>
</center>

<br><br><br><br>

{% endblock mainBody %}
