{% extends "base.html" %}

{% block title %}
個人資料
{% endblock title %}

{% block h2title %}
個人資料
{% endblock h2title %}

{% block mainBody %}
<center>
  <form action="/upload" method="POST">
    {% csrf_token %}
  <div class="col">
      <li class="list-item m-4">帳號:  &nbsp&nbsp&nbsp&nbsp<input name="account" type="text" class="Radius" value={{account}}></li>
      <li class="list-item m-4">密碼:  &nbsp&nbsp&nbsp&nbsp<input name="password" type="text" class="Radius" value={{password}}></li>
      <li class="list-item m-4">姓名:  &nbsp&nbsp&nbsp&nbsp<input name="name" type="text" class="Radius" value={{name}}></li>
      <li class="list-item m-4">性別:  &nbsp&nbsp&nbsp&nbsp<input name="gender" type="text" class="Radius" value={{gender}}></li>
      <li class="list-item m-4">生日:  &nbsp&nbsp&nbsp&nbsp<input name="age" type="text" class="Radius" value={{birth}}></li>
      <li class="list-item m-4">住址:  &nbsp&nbsp&nbsp&nbsp<input name="address" type="text" class="Radius" value={{address}}></li>
      <li class="list-item m-4">電話:  &nbsp&nbsp&nbsp&nbsp<input name="tel_number" type="text" class="Radius" value={{tel_number}}></li>
  </div>

  <div class="position-absolute start-50 mt-5 translate-middle">
    <input type="submit" class="btn btn-secondary btn-word me-5"  value="確認">
    <input type="button" class="btn btn-secondary btn-word me-5" onclick="location.href='/personal_info'" value="取消">
  </div>

</form>

  <script>

  </script>
</center>
{% endblock mainBody %}