{% extends "base.html" %}

{% block title %}
    租車系統-租借車
{% endblock title %}

{% block h2title %}
    租借車
{% endblock h2title %}

{% block mainBody %}

    <form class="needs-validation" action="/rent/" method ='post' name="myform" novalidate>
        {% csrf_token %}
        <div class="row mb-3">
            <label for="colFormLabel" class="col-sm-3 col-form-label">選擇站點：</label>
            <div class="col-sm-9">
                <p><select class="form-select" aria-label="Default select example" id="place" name ="place" onchange="Change();">
                    <option value="志希館" >志希館</option>
                    <option value="管二館">管二館</option>
                    <option value="松苑餐廳">松苑餐廳</option>
                    <option value="小站">小站</option>
                </select></p>
            </div>
        </div>
        <div class="row mb-3">
            <label for="colFormLabel" class="col-sm-3 col-form-label">選擇車種：</label>
            <div class="col-sm-9">
                <select class="form-select" aria-label="Default select example" id="cartype" name ="cartype">
                    <option value="腳踏車" selected>腳踏車</option>
                    <option value="電動滑板車">電動滑板車</option>
                </select>
            </div>
        </div>
        <div class="col-sm">
             <label for="colFormLabel" class="col-sm-3 col-form-label">選擇站點:</label>
             <label for="colFormLabel" class="col-sm-2 col-form-label">{{Place}}</label>
             <label for="colFormLabel" class="col-sm-3 col-form-label">選擇車種</label>
             <label for="colFormLabel" class="col-sm-2 col-form-label">{{CarT}}</label>
             <label for="colFormLabel" class="col-sm-3 col-form-label">剩餘腳踏車:</label>
             <label for="colFormLabel" class="col-sm-2 col-form-label">{{num_bike}}輛</label>
             <label for="colFormLabel" class="col-sm-3 col-form-label">剩餘電動滑板車:</label>
             <label for="colFormLabel" class="col-sm-2 col-form-label">{{num_scooter}}輛</label>
        </div>
        <center>
            <div class="col-sm">
                <form class="container-fluid justify-content-start">
                    <button class="btn btn-outline-success me-2" type="submit" onclick="triggerAlert();">確認</button>
                    <a href=/finishrent/{{Place}}/{{CarT}}/><button class="btn btn-outline-success me-2" type="button" onclick="triggerAlert();">預約</button></a>
                </form>
            </div>
        </center>
    </form>



<script>
function triggerAlert() {
    {% if messages %}
            {% for msg in messages %}
                alert('{{ msg.message }}')
            {% endfor %}
    {% endif %}
}

function Change(){
    alert('更改')
}

</script>

{% endblock mainBody %}
