{% extends "base.html" %}

{% block title %}
    租車系統-車輛報修
{% endblock title %}

{% block h2title %}
    車輛報修
{% endblock h2title %}

{% block mainBody %}

    <form method="post">
    {% csrf_token %}


        <div class="row mb-4">
            <label for="colFormLabel" class="col-sm-3 col-form-label text-end">回報時間：</label>
            <label for="colFormLabel" class="col-sm-6 col-form-label text-start"><span id = "currentT"></span></label>
        </div>

        <div class="row mb-3">
            <label for="colFormLabel" class="col-sm-3 col-form-label text-end">車輛標號：</label>
            <div class="col-sm-8">
                <p><select class="form-select" aria-label="Default select example" id="Carid" name="Carid">
                    <option value="" selected disabled>-- 請選擇 --</option>
                    {% for car in cars %}
                        <option value={{car}}>{{car}}</option>
                    {% endfor %}
                </select></p>
            </div>
        </div>

        <div class="row mb-4">
            <label for="colFormLabel" class="col-sm-3 col-form-label text-end">描述：</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="InputText_description" name="happen">
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-sm-6 text-end">
                    <button class="btn btn-outline-success me-2" type="submit" onclick="triggerAlert();">送出</button>
            </div>
            <div class="col-sm-6 text-start">
                    <button class="btn btn-outline-success me-2" type="button" onclick="location.href='/rent'">回上一頁</button>
            </div>
        </div>
    </form>


    <script>
    function triggerAlert() {
    {% if messages %}
            {% for msg in messages %}
                alert('{{ msg.message }}')
            {% endfor %}
    {% endif %}
    }
    date = new Date();
    year = date.getFullYear();
    month = date.getMonth() + 1;
    day = date.getDate();
    h = date.getHours();
    m = date.getMinutes();
    document.getElementById("currentT").innerHTML = year + " / "+ month + " / " + day + " - " + h + ":" + m ;
    </script>

{% endblock mainBody %}

