{% extends "base.html" %}

{% block title %}
    租車系統-車輛報修
{% endblock title %}

{% block h2title %}
    車輛報修
{% endblock h2title %}

{% block mainBody %}
    <div class="row mb-4">
        <label for="colFormLabel" class="col-sm-3 col-form-label text-end">回報時間：</label>
        <label for="colFormLabel" class="col-sm-6 col-form-label text-start"><span id = "currentT"></span></label>
    </div>

    <div class="row mb-4">
        <label for="colFormLabel" class="col-sm-3 col-form-label text-end">站點位置：</label>
        <div class="col-sm-8">
            <select class="form-select" aria-label="Default select example">
                <option value="1" selected>志希館</option>
                <option value="2">管二館</option>
                <option value="3">松苑餐廳</option>
        </div>
    </div>

    <div class="row mb-4">
        <label for="colFormLabel" class="col-sm-3 col-form-label text-end">車輛資訊：</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" id="InputText_car_info">
        </div>
    </div>

    <div class="row mb-5">
        <label for="colFormLabel" class="col-sm-3 col-form-label text-end">描述：</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" id="InputText_description">
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-sm-6 text-end">
            <form class="container-fluid justify-content-start">
                <button class="btn btn-outline-success me-2" type="button">送出</button>
            </form>
        </div>
        <div class="col-sm-6 text-start">
            <form class="container-fluid justify-content-start">
                <button class="btn btn-outline-success me-2" type="button" onclick="location.href='/rent'">回上一頁</button>
            </form>
        </div>
    </div>

    <script>
    date = new Date();
    year = date.getFullYear();
    month = date.getMonth() + 1;
    day = date.getDate();
    h = date.getHours();
    m = date.getMinutes();
    document.getElementById("currentT").innerHTML = year + " / "+ month + " / " + day + " - " + h + ":" + m ;
    </script>

{% endblock mainBody %}
